* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: grid;
    place-content: center;
}

html {
    font-size: 62.5%;
}

.navbar-section {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center; 
}

.nav-left {
    width: 130px;
    height: 50px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    justify-content: space-between;
}

.svg-inline--fa {
    width: 18px;
    height: 18px;
}

.standar-word {
    font-size: 2.5rem;
    font-weight: 400px;
    margin-left: 18px;
}

.fa-clock-rotate-left {
   
    width: 23px;
    height: 23px;
    margin-right: 15px;
    margin-top: 4px;
   
}

.main-container {
    align-content: center;
    width: 360px;
    background: #e3e2e2;
    height: auto;
    border: 1px solid black;
}

#operations-container {
   
    width: 100%;
    height: 120px; 
}

.display-operators {
    display: flex;
    width: 100%;
    height: 30px;
    justify-items: flex-end;
}

.operation {
    width: 100%;
    height: 30px;
    margin: 0;
    font-size: 1.8rem;
    text-align: end;

}

.numbers {
  width: 100%;
  height: 80px;
  font-size: 4rem;
  font-weight: 700;
  text-align: end;
}

.memory-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20px;
    padding: 0px 25px 0 25px;
    
}

.memory-container div {
    font-size: arial;
    font-size: 1.4rem;
}

.keyboard-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: (6, 1fr);
    gap: 1.8px;
    width: 100%;
    height: 320px;
    padding: 6px;
   
}

button {
    font-family: sans-serif;
    font-size: 1.55rem;
    font-weight: 550;
    border-style: none;
    background: #eaeaea;
    cursor: pointer;
    transition: .1s;
}

button:hover {
    background: gray;
}

.bottons-color-white {
    background: white;
}

.bottons-color-blue {
    background: #61b0f0;;
}

